body {
  margin: 0;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
.noteCard{
  margin: 1rem 3rem;
  background-color: whitesmoke;
  color: green;
  display: inline-block;
  padding: 0.5rem ;
  display: flex;
  
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  text-align: left;
  width: fit-content;
  height: fit-content;
  font-size: small;
  flex-direction: column;
    align-items: center;
}

.bigAvo{
  max-width: 25rem;
  padding: 0px;
}
.title {
  font-size: 85px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: .15em;
  text-shadow: 
    1px -1px 0 #767676, 
    -2px 4px 1px #767474, 
    -4px 8px 1px #7B7A7A, 
    -6px 12px 1px #828181, 
    -8px 16px 1px #8B8A89, 
    -10px 20px 1px #949392;
    @include transition(0.4s);
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar{
  display: flex;
  background-color: whitesmoke;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  box-shadow: -6px -4px 13px 0px black;
  position: fixed;
  z-index: 30;
  width: 100%;
}
.navbar > a{
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
  transition: all .5s;
  width: 3.2rem;
}

.navbar > a:hover{
  font-size: 2.4rem;
  color: green;
  
}